@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body {
    margin: 0px;
    // min-height: 100vh;
    font-family: 'Spartan', sans-serif;
    background-color: $gray-100;
}

.container {
    min-width: 250px;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
}

.header {
    display: flex;
    justify-content: space-between;

    &__title-container {
        &__title {
            margin: 0px;
            padding: 0px;
            font-size: 2rem;
        }
    }

    &__theme-container {
        font-size: 0.8rem;

        &__theme-label, &__theme-options {
            display: inline-block;
        }

        &__theme-label {
            margin-right: 15px;
        }

        &__theme-options {
            &__labels, &__radios {
                display: flex;
                justify-content: space-between;
                min-width: 60px;
            }

            &__labels {
                &__label {
                    display: block;
                }
            }

            &__radios {
                margin-top: 5px;

                &__radio {
                    margin: 0px;
                    width: 12px;
                }
            }
        }
    }
}

.screen {
    padding: 1.5rem 1rem;
    background-color: $white;
    text-align: right;
    font-size: 2.2rem;
}

.buttons {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;

    &__button {
        padding: 0.5rem;
        font-family: inherit;
        font-size: 1.5rem;

        &--del-reset, &--equals {
            font-size: 0.9em;
        }

        &--in-last-row {
            grid-column: span 2;
        }
    }
}