//light theme
$gray-50: #EEEEEE; //screen bg and text
$gray-100: #E6E6E6; //background
$brown-50: #E5E4E0;// buttons bg
$brown-200: #D3CDCD; //buttons div
$brown-400: #A99D92;//buttons shadow
$green-100: #388187; //del and reset buttons bg
$green-200: #1A5F66; //del and reset buttons shadow
$orange-100: #C85401; //radio and equals btn
$orange-200: #8B3901; //equals button shadow
$black: #35372C; // text

//dark theme
$slate-50: #647299; //del and reset buttons bg
$slate-100: #414E76; //del and reset buttons shadow
$slate-200: #3B4664; //background
$slate-300: #181F32; //screen bg
$slate-400: #252D44; //buttons div bg and text
$brown-100: #EAE3DB;//buttons bg
$brown-300: #B3A397;//buttons shadow
$red-100: #D13F30; //radio and equals button
$red-200: #94271B; //equals button shadow
$white: #FFFFFF; //text

//violet theme
$violet-100: #B918F5; //del and reset buttons shadow
$violet-200: #871D9F; //button shadow
$violet-300: #560681; //del and reset buttons bg
$violet-400: #331B4D; //button bg
$violet-500: #1E0836; //screen and buttons div bg
$violet-600: #17062A; //background
$turquoise-100: #6DF8EF;//equals button shadow
$turquoise-200: #00DECF;//equals button bg
$turquoise-300: #003036;
$yellow: #FBE134;